
@{
    ViewData["Title"] = "DetailProduct";
    Layout = "_LayoutProducts";
}
@model WebAnhAnh.Repository.DetailProductsRepository



<style>
    .product-detaill h2 {
        text-transform: capitalize;
        color: #12263a;
        padding-bottom: 0.6rem;
    }

    .product-detaill p {
        font-size: 0.9rem;
        padding: 0.3rem;
        opacity: 0.8;
    }

    .product-detaill ul {
        margin: 1rem 0;
        font-size: 0.9rem;
    }

        .product-detaill ul li {
            margin: 0;
            list-style: none;
            background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
            background-size: 18px;
            padding-left: 1.7rem;
            margin: 0.4rem 0;
            font-weight: 600;
            opacity: 0.9;
        }

            .product-detaill ul li span {
                font-weight: 400;
            }
    .last-pricee span {
        color: #f64749;
        text-decoration: line-through;
    }

    .new-pricee span {
        color: #256eff;
    }
    .product-pricee {
        margin: 1rem 0;
        font-size: 1rem;
        font-weight: 700;
    }

        .product-pricee span {
            font-weight: 400;
        }
    .product-titlee {
        font-size: 3rem;
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        color: #12263a;
        margin: 1rem 0;
    }

        .product-titlee::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            width: 80px;
            background: #12263a;
        }
    .quantity {
        display: flex;
        align-items: center;
    }

        .quantity input {
            width: 50px;
            text-align: center;
            border: 1px solid red;
            border-radius: 3px;
            font-size: 16px;
            padding: 5px;
            margin: 0 5px;
        }

        .quantity button {
            background-color: yellow;
            color: green;
            border: none;
            cursor: pointer;
            padding: 8px 12px;
            border-radius: 3px;
        }

            .quantity button:hover {
                background-color: #45a049;
            }
</style>


<!-- background bg start -->
<div class="background_bg">
    
    <!-- watchs section start -->
    <div class="watchs_section layout_padding">

        <div class="container">
            <h1 class="watchs_taital"> @await Component.InvokeAsync("MenuCategory") <br /></h1>
            <br />
            <div class="watchs_section_2">
                <div class="row">
                    <section class="py-5">
                        <div class="container">
                            <div class="row gx-5">
                                <aside class="col-lg-6">
                                    <div class="border rounded-4 mb-3 d-flex justify-content-center">
                                        <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="~/images/@Model.Image">
                                            <img style="max-width: 100%; max-height: 60vh; margin: auto;" class="rounded-4 fit" src="~/images/@Model.Image" />
                                        </a>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/images/@Model.Image1" class="item-thumb">
                                            <img width="160" height="160" class="rounded-2" src="~/images/@Model.Image1" />
                                        </a>
                                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/images/@Model.Image2" class="item-thumb">
                                            <img width="160" height="160" class="rounded-2" src="~/images/@Model.Image2" />
                                        </a>


                                    </div>
 
                                </aside>


                   
                    <div  class="col-lg-6">
                                    <h2 class="product-titlee">@Model.ProductName</h2>
                                    <div class="product-pricee">
                                        <p class="new-pricee">Giá Bán : <span>$@Model.Price (usd)</span></p>
                                    </div>
                                    <div class="product-detaill">
                                        <h2>Mô tả sản phẩm: </h2>
                                        <p> @Model.Describe</p>                             
                                        <ul>
                                            <li>Loại sản phẩm : <span>@Model.CategoryName</span></li>
                                            <li>Khu vực giao hàng: <span>Toàn thế giới</span></li>
                                            <li>Giá Ship : <span>Miễn phí</span></li>
                                        </ul>
                                    </div>                 
                        <div style="color:yellow" class="d-flex mb-4">
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star text-secondary"></i>
                        </div>
                                  

                           <form asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.ProductID">
                        <div class="row" style="margin-left:7px">
                            <div class="quantity">
                                    <button type="button" onclick="decreaseQuantity()">-</button>
                                <input name="quantity" type="number" id="quantityInput" value="1" min="0">
                                    <button type="button" onclick="increaseQuantity()">+</button>
                            </div>
                                <button style="margin-left:100px;margin-top:30px" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</button>

                            </div>
                        </form>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <!-- watchs section end -->
</div>


<script>
    function increaseQuantity() {
        var input = document.getElementById("quantityInput");
        var value = parseInt(input.value);
        input.value = value + 1;
    }

    function decreaseQuantity() {
        var input = document.getElementById("quantityInput");
        var value = parseInt(input.value);
        if (value > 0) {
            input.value = value - 1;
        }
    }
</script>

















        <!-- background bg start -->
        <div class="background_bg">
            <!-- watchs section start -->
            <div class="watchs_section layout_padding">
                <div class="container">
                    <h1 class="watchs_taital">SẢN PHẨM CỦA CHÚNG TÔI : </h1> <br /> <br />
                    <h2 style=" text-align: center;color: #b60213;font-size: 24px;font-weight: bold;text-transform: uppercase;margin-bottom: 20px;">
                        SẢN PHẨM MỚI NHẤT
                    </h2>
                    @await Component.InvokeAsync("NewProduct")
                    <h2 style=" text-align: center;color: #b60213;font-size: 24px;font-weight: bold;text-transform: uppercase;margin-bottom: 20px;">
                        ....................................
                    </h2>
                    <h2 style=" text-align: center;color: #b60213;font-size: 24px;font-weight: bold;text-transform: uppercase;margin-bottom: 20px;">
                        SẢN PHẨM GIÁ LỚN NHẤT
                    </h2>
                    @await Component.InvokeAsync("MaxProduct")
                    <h2 style=" text-align: center;color: #b60213;font-size: 24px;font-weight: bold;text-transform: uppercase;margin-bottom: 20px;">
                        ....................................
                    </h2>
                    <h2 style=" text-align: center;color: #b60213;font-size: 24px;font-weight: bold;text-transform: uppercase;margin-bottom: 20px;">
                        SẢN PHẨM GIÁ NHỎ NHẤT
                    </h2>
                    @await Component.InvokeAsync("MinProduct")
                    <h2 style=" text-align: center;color: #b60213;font-size: 24px;font-weight: bold;text-transform: uppercase;margin-bottom: 20px;">
                        ....................................
                    </h2>
                    <div class="seemore_bt"><a asp-controller="Product" asp-action="Index">Xem Thêm</a></div>
                </div>
            </div>
            <!-- watchs section end -->
            <!-- about section start -->
            <!-- testimonial section start -->
           


            <!-- testimonial section end -->
        </div>




