<div class="banner_section layout_padding">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <a>
                        <img src="~/images/Banananana.png">
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                   @*  <h1 class="banner_taital">SẢN PHẨM</h1>
                    <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
                    <div class="read_bt"><a href="#">Buy Now</a></div> *@
                 
                    <a>
                        <img src="~/images/Banananana.png">
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <a>
                        <img src="~/images/Banananana.png">
                    </a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-plus" style="font-size:24px; color: black;"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-minus" style="font-size:24px; color: black;"></i>
        </a>

    </div>
</div>