

<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <h3 class="follow_text">Follow Now</h3>
        <div class="social_icon">
            <ul>
                <li><a href="#"><img src="~/images/fb-icon.png"></a></li>
                <li><a href="#"><img src="~/images/twitter-icon.png"></a></li>
                <li><a href="#"><img src="~/images/linkedin-icon.png"></a></li>
                <li><a href="#"><img src="~/images/instagram-icon.png"></a></li>
                <li><a href="#"><img src="~/images/youtub-icon.png"></a></li>
            </ul>
        </div>
        <div class="location_main">
            <div class="location_left">
                <div class="call_text"><a href="#"><img src="~/images/map-icon.png"><span class="call_padding">VỊ TRÍ</span></a></div>
            </div>
            <div class="location_middle">
                <div class="call_text"><a href="#"><img src="~/images/mail-icon.png"><span class="call_padding">nguyenducanh@gmail.com</span></a></div>
            </div>
            <div class="location_right">
                <div class="call_text"><a href="#"><img src="~/images/call-icon.png"><span class="call_padding">GỌI + 0978158745</span></a></div>
            </div>
        </div>
    </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <p class="copyright_text">GỖ ANHANH - <a href="https://html.design">SẢN PHẨM GỖ GIÁ BÌNH DÂN</a> - CHỐNG MỌT <a href="https://themewagon.com">- MÙI THƠM</a></p>
    </div>
</div>
<!-- copyright section end -->
