
@{
    ViewData["Title"] = "AboutUs";
    Layout = "_LayoutProducts";
}


<style>
    .about-us-container {
        max-width: 800px; 
        margin: 0 auto; 
        padding: 0 20px;
    }</style>
@await Component.InvokeAsync("MenuCategory")
<h1></br></h1>
<div class="about-us-container">
    <h1>---------------------------------------------------------</h1>
<h2>Chúng tôi là ai?</h2>
<p>Chúng tôi là đội ngũ đam mê và chuyên nghiệp, tận tâm với sứ mệnh cung cấp các sản phẩm bàn ghế gỗ chất lượng cao cho các trường học. Với nhiều năm kinh nghiệm trong ngành, chúng tôi tự hào là đối tác đáng tin cậy của nhiều trường học trên khắp địa bàn Việt Nam.</p>
<h2>Cam kết của chúng tôi</h2>
<p>Chúng tôi cam kết mang đến cho khách hàng những sản phẩm chất lượng nhất, được sản xuất từ nguyên liệu gỗ tự nhiên và qua quy trình chế biến công nghệ hiện đại. Sự thoải mái, an toàn và tiện ích cho người sử dụng luôn là ưu tiên hàng đầu của chúng tôi.</p>
<h2>Dịch vụ của chúng tôi</h2>
<p>Bên cạnh việc cung cấp các sản phẩm bàn ghế gỗ chất lượng, chúng tôi còn cung cấp các dịch vụ tư vấn, thiết kế và lắp đặt. Đội ngũ chuyên viên giàu kinh nghiệm của chúng tôi sẽ đồng hành cùng quý khách hàng từ khâu lên ý tưởng đến việc thực hiện, để đảm bảo mọi dự án được triển khai một cách suôn sẻ và đạt hiệu quả cao nhất.</p>
<h2>Liên hệ với chúng tôi</h2>
<p>Hãy liên hệ với chúng tôi ngay hôm nay để được tư vấn và hỗ trợ tốt nhất cho các nhu cầu về bàn ghế gỗ cho trường học của bạn. Chúng tôi luôn sẵn lòng lắng nghe và đáp ứng mọi yêu cầu của quý khách hàng.</p>
</div>